/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Chelsea+Market&family=Roboto+Mono:wght@400;700&display=swap');

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	/* border: 0; */
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* Custom Reset */
* {
  box-sizing: border-box; /* If I give an element a width, I want it to respect that width - if I add padding or a border, apply it within the width given */
  /* border: 1px solid grey; Good to start with this until we're happy with layout */
  max-width: 100%; /* This says you can never be bigger than parent element */
}

/* General Styles */
html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  line-height: 1.5; /* good starting point we can bump up or down as needed */
  font-family: 'Roboto Mono', monospace;
  color: #4F4F4F;
}

h1 {
  font-family: 'Chelsea Market', cursive;
  font-size: 5rem;
}

span {
  font-weight: bold;
}

a {
  text-decoration: none;
}

section {
  padding: 4% 0;
}

/* Navigation Styles */
nav {
  padding: 2% 0;
  display: flex;
  justify-content: space-around;
}

nav a {
  display: inline-block; /* So that links can take a width */
  padding: 1% 0;
  width: 10%;
  border-radius: 10px;
  text-align: center;
  color: #fff;
}

.orange {
  background-color: #FF764E;
}

.blue {
  background-color: #5ED3EB;
}

.yellow {
  background-color: #FFCD69;
}

/* Header Section Styles */

header {
  display: flex;
  justify-content: space-around;
}

.image {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image img {
  border-radius: 50%;
}

.title {
  width: 55%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.title div {
  width: 80%;
}

/* Main Section Styles */
.main div {
  background-color: #DDB9A3;
  width: 80%;
  margin: 0 auto;
  padding: 2%;
  color: white;
}

.main p {
  padding: 1% 0;
}

/* Camp Section Styles */
.camp {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.camp div {
  width: 35%;
  text-align: center;
  margin: 4% 0;
}

.camp div img {
  width: 80%;
}

/* Background Image Section Styles */
.bg-img {
  background-image: url('assets/footer_img.jpg');
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  height: 40vh;
  /* background-attachment: fixed; */ /* This would make it look like the image is fixed as we scroll down the page */
}

/* Footer Styles */
footer {
  background-color: #F9E7DC;
}

/* Media Queries */
/* Have to be in pixels because screens are measured in pixels */
/* Tablet View */
@media (max-width: 800px) {
  nav a {
    width: 15%;
  }
  /* Header Section Style */
  .image img {
    width: 80%;
  }
  /* Camp Section Styles */
  .camp div {
    width: 45%;
  }
  /* Background Image Section */
  .bg-img {
    height: 60vh;
    background-position: center;
  }
}

/* Phone View */
@media (max-width: 500px) {
  nav {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  nav a {
    width: 50%;
    margin: 2% 0;
  }

  .blue {
    order: -1;
  }

  /* Header Styles */
  header {
    flex-wrap: wrap;
  }
  
  .image {
    width: 80%;
  }

  .title {
    width: 80%;
    margin-top: 4%;
  }

  .title div {
    width: 100%;
  }

  /* Camp Section Style */
  .camp div {
    width: 80%;
  }

  .bg-img {
    height: 40vh;
  }

}